node_modules/
.vscode/
.DS_Store
Thumbs.db
*.log
.env
.Dd*
.cache/
.bun/
.copilot/
.coder-ide/
.codex/
.config/
.docker/
.dotnet/
.gologin/
.local/
.npm/
.overture/
.zenmap/
AppData/
Documents/
Downloads/
Music/
Pictures/
Videos/
3D Objects/
Favorites/
Saved Games/
Searches/
Contacts/
Links/
OneDrive/
IntelGraphicsProfiles/
Storm-Breaker*/
flexwork/
*.zip
NTUSER.*
ntuser.*
package-lock.json
package.json

